
  
  /* Card styling */
  

/* Headings */
h1 {
    color:#333;
  }

.routine-card h2 {
    font-size: 20px;
    color: #333;
    margin: 0;
    padding-bottom: 20px;
  }
  
  /* Paragraphs */
  .routine-card p {
    color: #555;
    font-size: 16px;
    margin: 5px 0;
  }

  .routine-card:hover {
    transform: scale(1.02); /* Slight zoom effect */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Enhanced shadow */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


  /* Routine image (right side) */
.routine-image {
    width: 11rem; /* Fixed width */
    height: 8rem; /* Fixed height */
    background-color: #333; /* Placeholder background color */
    border-radius: 5px;
    object-fit: cover; /* Ensure the image fits properly */
    margin-bottom: 10px;
    /* margin-left: 15px; Add spacing between details and image */
  }

/* small screens (mobile phones) */
@media (max-width: 560px) {
    .routine-card{
    max-width:90%;
    padding: 15px;
    flex-direction: column-reverse;
    gap: 15px;
    text-align: center;

    }
    .routine-image {
        width: 8rem; /* Slightly smaller for mobile */
        height: 6rem;
    }

    .routine-card h2 {
        font-size: 20px; /* Slightly smaller for smaller screens */
    }

    .routine-card p {
        font-size: 14px; /* Adjust for better readability */
    }
    
}

  

  /* buttons */
 .controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
 }

.filter-button,
.create-routine-button {
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-button:hover, .create-routine-button:hover {
    background-color: #5a9ae0; /* Slightly darker blue for hover effect */
}

.filter-button {
  background-color: #f3f4f6;
  color: #333;
}

.create-routine-button {
  background-color: #60a5fa;
  color: white;
}